$yellow: #FBFE3B;
$cyan: #00E2FF;
$hcyan: #00E2FF55;
$lcyan: #98F3FF;
$green: #2FFF37;
$hgreen: #2FFF3755;
$lgreen: #A8FE38;
$pink: #FF0093;
$orange: #FF4500;
$purple: #B006FB;
$black: #000000;
$white: #FFFFFF;

body {
	background-color:$white;
	font-family: "Montserrat", "sans serif";
	overflow-x:hidden;
	span.hotpink {
		color: $pink;
	}
	br.title-br {
		display:block;
		@media screen and (min-width:48rem) and (max-width:61.9375rem) {
			display:none;
		}
		@media screen and (min-width:75.0625rem) {
			display:none;
		}
	}
	.center {
		text-align:center;
	}
	nav.navbar {
		background-color: $yellow;
		color: $black;
		height:3.75rem;
		padding-top:0;
		padding-bottom:0;
		// start ---- mobile nav
		span.navbar-toggler-icon img {
			display:none;
			@media screen and (max-width:61.9375rem) {
				display:block;
			}
		}
		div.navbar-collapse {
			@media screen and (max-width:61.9375rem) {
				margin-top:-0.3125rem;
			}
		}
		ul.navbar-nav {
			@media screen and (max-width:61.9375rem) {
				background-color:$lgreen;
				padding:0.625rem 1.25rem;
				li.nav-item {
					text-align:right;
				}
			}
		}
		// end ---- mobile nav
		a.navbar-brand {
			@media screen and (max-width:61.9375rem) {
				padding-top:0;
			}
			img {
				height:3.75rem;
				width:3.75rem;
			}
		}
		a:link, a:visited {
			text-transform: uppercase;
			color: $black !important;
			letter-spacing:0.1rem;
			font-weight: 600;
		}
		a:hover {
			color: $pink !important;
		}
		li.active{
			@media screen and (min-width:62rem) {
				border-bottom: 0.3125rem solid $purple;
				a {
					margin-bottom:-0.3125rem;
				}
			}
			a {
				color: $purple !important;
			}
			&:hover {
				a {
					color: $pink !important;
				}
			}
		}
		li.nav-item {
			@media screen and (min-width:62rem) {
				padding: 0.625rem 1.25rem;
			}
		}
		li.nav-item:hover {
			cursor:pointer;
			background-color:$hgreen;
			a {
				color: $pink !important;
			}
		}
	}
	section {
		h1 {
			font-weight:700;
		}
		h2 {
			color: $purple; 
			letter-spacing:0.1rem;
			font-weight:600;
		}
		div.pow-anim {
			@media screen and (max-width:61.9375rem) {
				display:flex;
				justify-content:center;
				img.pow-anim {
					margin-top:0;
					padding-top:0;
					max-width:95vw;
					height:50vh;
					width:auto;
				}
			}
			@media screen and (min-width:62rem) {
				img.pow-anim {
					margin-top:3.125rem;
					padding-top:1.875rem;
					height:80vh;
					width:auto;
				}
			}

		}
	}
	footer {
		width:100vw;
		margin:0;
		background-color:$cyan;	
		background-image: url('../images/dots.png');
		background-repeat: repeat;
		background-size: 13.75rem;
    	padding: 0.3125rem;
	}
}

