$yellow: #FBFE3B;
$lyellow: #FEFFC6;
$cyan: #00E2FF;
$hcyan: #00E2FF55;
$lcyan: #98F3FF;
$cyanlight:#B4F6FF;
$cyanlighter:#D9FAFF;
$cyanlightest:#EBFCFF;
$green: #2FFF37;
$hgreen: #2FFF3755;
$lgreen: #A8FE38;
$pink: #FF0093;
$lpink: #FFBEE3;
$gpink: #BF5693;
$orange: #FF4500;
$purple: #B006FB;
$black: #000000;
$white: #FFFFFF;
$graydarker: #555555;
$graydarkest: #333333;
$graydark: #777777;
$graylightest: #EFEFEF;
body.light-gray {
	background-color:#F9F9F9 !important;
}
body {
	background-color:$white;
	font-family: "Montserrat", "sans serif";
	overflow-x: hidden !important;
	color:$graydarkest;
	.hotpink {
		color: $pink;
	}
	.lightpink {
		color: $lpink;
	}
	.cyan {
		color: $cyanlight;
	}
	.extra-bottom {
		padding-bottom: 4rem;
    	margin-bottom: 2rem;
	}
	.letter-spacing {
		letter-spacing: 0.05rem;
	}
	.light-gray {
		background-color:#F9F9F9 ;
	}
	article.light-gray  {
		width: 500%;
    	margin-left: -200%;
	}
	.white, .white-bg {
		background-color:$white;
	}
	article.white {
		width: 500%;
    	margin-left: -200%;
	}
	.light-yellow {
		background-color:#FFFFE3;
	}
	article.light-yellow {
		width: 500%;
    	margin-left: -200%;
	}
	article.section {
		.section-header {
			padding-top:1.25rem;
			opacity:0;
			hr {
				width:8.75rem;
				border:2.5px solid $cyan;
			}
		}
	}
	article.row {
		section.section-content {
			overflow-x: hidden !important;
		}
	}
	p.anchor-nav {
		text-align:right;
		line-height:2rem;
		a {
			color:$pink;
			padding-top:1.25rem;
			padding-bottom:1.25rem;
			font-size:1rem;
			text-transform:uppercase;
			letter-spacing:0.05rem;
			font-weight:600;
		}
		a:hover {
			text-decoration:none;
			color:$gpink;
		}
	}
	p.empower-lead {
		@media screen and (max-width:47.9375rem) {
			display:none;
		}
		@media screen and (min-width:48rem) and (max-width:61.9375rem) {
			display:inline-block;
			width:200px;
			text-align:right;
			padding-top:3rem;
			padding-right:3rem;
		}
		@media screen and (min-width:62rem) and (max-width:74.9375rem) {
			padding-top:4rem;
			margin-left:-4rem;
		}
		@media screen and (min-width:75rem) and (max-width:87.4375rem) {
			padding-top:6rem;
			margin-left:-8rem;
		}
		@media screen and (min-width:87.5rem) {
			padding-top:6rem;
			margin-left:-8rem;
		}
	}
	br.leadBr {
		@media screen and (min-width:48rem) and (max-width:61.9375rem) {
			display:inline !important;
		}
		@media screen and (min-width:62rem) {
			display:none;
		}
	}
	span#empowerText {
		display:none;
	}
	span#empowerText.on {
		display:inline;
	}
	span.hotpink#empowerToggle:hover,
	div#arrow:hover {
		cursor:pointer;
	}
	div#arrow {
		@media screen and (min-width:48rem) and (max-width:61.9375rem) {
			width: 0; 
		  	height: 0; 
		  	border-left: 0.625rem solid transparent;
		  	border-right: 0.625rem solid transparent;
		  	border-top: 0.625rem solid $pink;
		  	margin-left:auto;
		  	margin-top:-0.3125rem;
		  	margin-right:6.125rem;
		}
		@media screen and (min-width:62rem) and (max-width:74.9375rem) {
			width: 0; 
		  	height: 0; 
		  	border-left: 0.625rem solid transparent;
		  	border-right: 0.625rem solid transparent;
		  	border-top: 0.625rem solid $pink;
		  	margin-top:-33px;
		  	margin-left:55px;
		}
		@media screen and (min-width:75rem) {
			width: 0; 
			height: 0; 
			border-top: 0.625rem solid transparent;
			border-bottom: 0.625rem solid transparent;
			border-left: 0.625rem solid $pink;
			margin-top:-40px;
			margin-left:-0.625rem;
		}
	}
	div#arrow.open {
		transform: rotate(180deg);
		@media screen and (min-width:48rem) and (max-width:61.9375rem) {
		  	margin-left:auto;
		  	margin-right:5.25rem;
		  	margin-top:-0.3125rem;
		}
		@media screen and (min-width:62rem) and (max-width:74.9375rem) {
			margin-left: 15px;
		  	margin-top:-33px;
		}
		@media screen and (min-width:75rem) {
			margin-left:-50px;
		}
	}
	.fw-400 {
		font-weight:400;
	}
	.fw-500 {
		font-weight:500;
	}
	.fw-600 {
		font-weight:600;
	}
	.fw-700 {
		font-weight:700;
	}
	@media screen and (min-width:62rem) {
		.hide-on-desktop {
			display:none !important;
		}
		p.anchor-nav a {
			padding:1.25rem;
		}
	}
	@media screen and (max-width:61.9375rem) {
		.hide-on-mobile {
			display:none !important;
		}
	}
	p.tagline {
		font-weight:500;
		font-size:1.25rem;
		opacity:0;
		@media screen and (min-width:75rem) {
			font-size:1.5rem;
			line-height:2rem;
		}
	}
	br.title-br {
		display:block;
		@media screen and (min-width:48rem) and (max-width:61.9375rem) {
			display:none;
		}
		@media screen and (min-width:75rem) {
			display:none;
		}
	}
	.center {
		text-align:center;
	}
	.uppercase {
		text-transform: uppercase;
	}
	div.cta {
		display:flex;
		justify-content: flex-end;
		width:100%;
		button#cta {
			background-color: $pink;
			border: 0.0625rem solid $yellow;
			font-weight: 600;
			box-shadow: 0 0 2.5rem $lyellow;
			color: $white;
			text-transform: uppercase;
			padding: 0.625rem 1.25rem;
			border-radius:5rem;
			letter-spacing:0.1rem;
			background: radial-gradient(10rem 5.625rem at 1.25rem top, #FF7CC7, $pink);
			width:13.75rem;
			height:3.75rem;
			font-size:1.25rem;
			margin-right:1.5rem;
			margin-top:1.5rem;
		}
		button#cta:hover {
			background: radial-gradient(10rem 5.625rem at 1.25rem top, $cyanlight, $cyan);
			color: $graydarkest;
			border: 0.0625rem solid $lpink;
			box-shadow: 0 0 2.5rem $lpink;
		}
		@media screen and (max-width:61.9375rem) {
			button#cta {
				margin-top:-1.5rem;
				font-size:1.125rem;
				width:12rem;
				height:3.25rem;
			}
		}
		// @media screen and (min-width:48rem) and (max-width:61.9375rem) {
		// 	button#cta {
		// 		margin-top:0.5rem;
		// 	}
		// }
		@media screen and (min-width:75rem) {
			button#cta {
				// width:13.75rem;
				// height:3.75rem;
				// font-size:1.25rem;
				margin-right:7.5rem;
			}
		}
	}
	
	nav.navbar {
		background-color: $yellow;
		color: $black;
		height:3.75rem;
		padding-top:0;
		padding-bottom:0;
		box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
		// start ---- mobile nav
		span.navbar-toggler-icon img {
			display:none;
			@media screen and (max-width:61.9375rem) {
				display:block;
			}
		}
		div.navbar-collapse {
			@media screen and (max-width:61.9375rem) {
				margin-top:-0.3125rem;
			}
		}
		ul.navbar-nav {
			@media screen and (max-width:61.9375rem) {
				background-color:$lyellow;
				padding:0.625rem 1.25rem;
				li.nav-item {
					text-align:right;
				}
			}
		}
		// end ---- mobile nav
		a.navbar-brand {
			@media screen and (max-width:61.9375rem) {
				padding-top:0;
			}
			img {
				height:3.75rem;
				width:3.75rem;
			}
		}
		a:link, a:visited {
			text-transform: uppercase;
			color: $graydarkest !important;
			letter-spacing:0.1rem;
			font-weight: 600;
		}
		a:hover {
			color: $pink !important;
		}
		li.active{
			@media screen and (min-width:62rem) {
				border-bottom: 0.3125rem solid $pink;
				a {
					margin-bottom:-0.3125rem;
				}
			}
			a {
				color: $graydarker !important;
			}
			&:hover {
				a {
					color: $pink !important;
				}
			}
		}
		li.nav-item {
			@media screen and (min-width:62rem) {
				padding: 0.625rem 1.25rem;
			}
		}
		li.nav-item:hover {
			// @media screen and (min-width:62rem) {
			// 	border-bottom: 0.3125rem solid $cyan;
			// 	a {
			// 		margin-bottom:-0.3125rem;
			// 	}
			// }
			@media screen and (min-width:62rem) {
				background-color:$lyellow;
			}
			cursor:pointer;
			a {
				color: $pink !important;
			}
		}
	}
	.top-main.row {
		@media screen and (max-width:61.9375rem) {
			h1, h2, p, a {
				text-align:center !important;
			}
			h2, p, a {
				padding-bottom:0.5rem;
				padding-top:0.5rem;
			}
			p, a {
				line-spacing:1.5rem;
			}
		}
	}
	section {
		h1 {
			font-weight:700;
			opacity:0;
			padding-top:4rem;
		}
		h2 {
			color: $graydarker; 
			letter-spacing:0.1rem;
			font-weight:600;
			opacity:0;
		}
		// first, main, large pow image
		div.pow-anim {
			@media screen and (max-width:35.9375rem) {
				margin-top:-1rem;
			}
			@media screen and (min-width:36rem) and (max-width:61.9375rem) {
				margin-top:0;
			}
			@media screen and (min-width:62rem) and (max-width:74.9375rem) {
				margin-top:5rem;
			}
			@media screen and (min-width:75rem) and (max-width:87.4375rem) {
				margin-top:5rem;
			}
			@media screen and (min-width:87.5rem) {
				margin-top:5rem;
			}
			position:relative;
			div.powAnims {
				opacity:0;
				@media screen and (max-width:47.9375rem) {
					margin-left:-4.5rem;
				}
				@media screen and (min-width:48rem) and (max-width:61.9375rem) {
					left:-2rem !important;
				}
				@media screen and (min-width:62rem) and (max-width:74.9375rem) {
					margin-left:-2rem;
				}
				@media screen and (min-width:75rem) and (max-width:87.4375rem) {
				}
				@media screen and (min-width:87.5rem) {
				}
			}
			div#powAnim {
				position:absolute;
				top:0;
				z-index:3;
				margin-top:4.5rem;
      			margin-left:3.6rem;
      			box-shadow: rgb(0 0 0 / 90%) 0px 0px 60px inset;
      			@media screen and (max-width:47.9375rem) {
					margin-left:1.5rem;
				}
				@media screen and (min-width:75rem) {
					margin-left:6.6rem;
				}
				background: url('../images/dots.png') 0px 0px repeat;
				background-size:10.625rem 10.625rem;
				height: 23.75rem;
				width: 26.875rem;
				clip-path: polygon(18% 11%,18% 11%, 45% 26%, 45% 26%, 71% 0%, 71% 0%, 69% 25%, 69% 25%, 95% 18%, 95% 18%, 83% 40%, 83% 40%, 100% 44%, 100% 44%, 75% 65%, 75% 65%, 91% 86%, 91% 86%, 67% 82%, 67% 82%, 58% 100%, 58% 100%, 45% 84%, 45% 84%, 35% 93%, 35% 93%, 30% 75%, 30% 75%, 13% 100%, 13% 100%, 13% 77%, 13% 77%, 0% 77%, 0% 77%, 15% 51%, 15% 51%, 0% 29%, 0% 29%, 18% 30%, 18% 30%);
			}
			div#powAnimBorder {
				position:absolute;
				top:0;
				z-index:1;
				margin-top:3.3rem;
      			margin-left:2.6rem;
      			@media screen and (max-width:47.9375rem) {
					margin-left:0.5rem;
				}
				@media screen and (min-width:75rem) {
					margin-left:5.6rem;
				}
				background-color: $pink;
				height: 26rem;
				width: 29rem;
				transform: rotate(-1deg);
				clip-path: polygon(18% 11%,18% 11%, 45% 26%, 45% 26%, 71% 0%, 71% 0%, 69% 25%, 69% 25%, 95% 18%, 95% 18%, 83% 40%, 83% 40%, 100% 44%, 100% 44%, 75% 65%, 75% 65%, 91% 86%, 91% 86%, 67% 82%, 67% 82%, 58% 100%, 58% 100%, 45% 84%, 45% 84%, 35% 93%, 35% 93%, 30% 75%, 30% 75%, 13% 100%, 13% 100%, 13% 77%, 13% 77%, 0% 77%, 0% 77%, 15% 51%, 15% 51%, 0% 29%, 0% 29%, 18% 30%, 18% 30%);
			}
		}
		div.pow-anim2 {
			@media screen and (min-width:62rem) {
				div#powAnim2 {
					position:absolute;
					top:0;
					left:-4rem;
					z-index:3;
					margin-top:6rem;
	      			margin-left:3.3rem;
	      			box-shadow: rgb(0 0 0 / 90%) 0px 0px 40px inset;
					background: url('../images/dots.png') 0px 0px repeat;
					background-size:10.625rem 10.625rem;
					height: 11.875rem;
					width: 13.4375rem;
					transform: rotate(-190deg);
					clip-path: polygon(18% 11%,18% 11%, 45% 26%, 45% 26%, 71% 0%, 71% 0%, 69% 25%, 69% 25%, 95% 18%, 95% 18%, 83% 40%, 83% 40%, 100% 44%, 100% 44%, 75% 65%, 75% 65%, 91% 86%, 91% 86%, 67% 82%, 67% 82%, 58% 100%, 58% 100%, 45% 84%, 45% 84%, 35% 93%, 35% 93%, 30% 75%, 30% 75%, 13% 100%, 13% 100%, 13% 77%, 13% 77%, 0% 77%, 0% 77%, 15% 51%, 15% 51%, 0% 29%, 0% 29%, 18% 30%, 18% 30%);
				}
				div#powAnimBorder2 {
					position:absolute;
					top:0;
					left:-4rem;
					z-index:1;
					margin-top:5.1rem;
	      			margin-left:2.4rem;
					background-color: $pink;
					height: 13.75rem;
					width: 15rem;
					transform: rotate(-191deg);
					clip-path: polygon(18% 11%,18% 11%, 45% 26%, 45% 26%, 71% 0%, 71% 0%, 69% 25%, 69% 25%, 95% 18%, 95% 18%, 83% 40%, 83% 40%, 100% 44%, 100% 44%, 75% 65%, 75% 65%, 91% 86%, 91% 86%, 67% 82%, 67% 82%, 58% 100%, 58% 100%, 45% 84%, 45% 84%, 35% 93%, 35% 93%, 30% 75%, 30% 75%, 13% 100%, 13% 100%, 13% 77%, 13% 77%, 0% 77%, 0% 77%, 15% 51%, 15% 51%, 0% 29%, 0% 29%, 18% 30%, 18% 30%);
				}
			}
			div.powAnims2 {
				opacity:0;
			}
			@media screen and (max-width:47.9375) {
				div.powAnims2 {
					display:none;
				}
			}
			@media screen and (min-width:48rem) and (max-width:61.9375rem) {
				div.powAnims2 {
					display:none;
				}
			}
		}
		div#powAnim.touch-anim,
		div#powAnim2.touch-anim,
		div#powAnim3.touch-anim {
			animation-name: touchAnim;
			animation-duration: 4s;
			animation-iteration-count: infinite; 
		}
		div.pow-anim3 {
			@media screen and (min-width:62rem) {
				div#powAnim3 {
					position:absolute;
					top:3rem;
					left:24rem;
					z-index:3;
					margin-top:6rem;
	      			margin-left:7rem;
	      			box-shadow: rgb(0 0 0 / 90%) 0px 0px 40px inset;
					background: url('../images/dots.png') 0px 0px repeat;
					background-size:10.625rem 10.625rem;
					height: 8.75rem;
					width: 8.75rem;
					transform: rotate(-140deg);
					clip-path: polygon(18% 11%,18% 11%, 45% 26%, 45% 26%, 71% 0%, 71% 0%, 69% 25%, 69% 25%, 95% 18%, 95% 18%, 83% 40%, 83% 40%, 100% 44%, 100% 44%, 75% 65%, 75% 65%, 91% 86%, 91% 86%, 67% 82%, 67% 82%, 58% 100%, 58% 100%, 45% 84%, 45% 84%, 35% 93%, 35% 93%, 30% 75%, 30% 75%, 13% 100%, 13% 100%, 13% 77%, 13% 77%, 0% 77%, 0% 77%, 15% 51%, 15% 51%, 0% 29%, 0% 29%, 18% 30%, 18% 30%);
				}
				div#powAnimBorder3 {
					position:absolute;
					top:3.3rem;
					left:23.8rem;
					z-index:1;
					margin-top:5rem;
	      			margin-left:6.5rem;
					background-color: $pink;
					height: 10.25rem;
					width: 10.1rem;
					transform: rotate(-142deg);
					clip-path: polygon(18% 11%,18% 11%, 45% 26%, 45% 26%, 71% 0%, 71% 0%, 69% 25%, 69% 25%, 95% 18%, 95% 18%, 83% 40%, 83% 40%, 100% 44%, 100% 44%, 75% 65%, 75% 65%, 91% 86%, 91% 86%, 67% 82%, 67% 82%, 58% 100%, 58% 100%, 45% 84%, 45% 84%, 35% 93%, 35% 93%, 30% 75%, 30% 75%, 13% 100%, 13% 100%, 13% 77%, 13% 77%, 0% 77%, 0% 77%, 15% 51%, 15% 51%, 0% 29%, 0% 29%, 18% 30%, 18% 30%);
				}
			}
			div.powAnims3 {
				opacity:0;
			}
			@media screen and (max-width:47.9375) {
				div.powAnims3 {
					display:none;
				}
			}
			@media screen and (min-width:48rem) and (max-width:61.9375rem) {
				div.powAnims3 {
					display:none;
				}
			}
		}
	}
	footer {
		width:100vw;
		margin:0;
		background-color:$graydarkest;	
    	padding: 0.2rem 0.5rem;
    	color:$white;
	}
}

@keyframes touchAnim {
   0% { background-position: 0px 0px; }
   3% { background-position: 5px 5px; }
   6% { background-position: 10px 10px; }
   9% { background-position: 15px 15px; }
   12% { background-position: 20px 20px; }
   15% { background-position: 25px 25px; }
   18% { background-position: 30px 30px; }
   21% { background-position: 35px 35px; }
   24% { background-position: 40px 40px; }
   27% { background-position: 45px 45px; }
   30% { background-position: 50px 50px; }
   33% { background-position: 55px 55px; }
   36% { background-position: 60px 60px; }
   39% { background-position: 65px 65px; }
   42% { background-position: 70px 70px; }
   45% { background-position: 75px 75px; }
   48% { background-position: 80px 80px; }
   51% { background-position: 85px 85px; }
   54% { background-position: 90px 90px; }
   57% { background-position: 95px 95px; }
   60% { background-position: 100px 100px; }
   63% { background-position: 105px 105px; }
   66% { background-position: 110px 110px; }
   69% { background-position: 115px 115px; }
   72% { background-position: 120px 120px; }
   75% { background-position: 125px 125px; }
   78% { background-position: 130px 130px; }
   81% { background-position: 135px 135px; }
   84% { background-position: 140px 140px; }
   87% { background-position: 145px 145px; }
   90% { background-position: 150px 150px; }
   93% { background-position: 155px 155px; }
   96% { background-position: 160px 160px; }
   98% { background-position: 165px 165px; }
   100% { background-position: 170px 170px; }
}



#options {
	div.col-lg-6:nth-of-type(2) {
		display:flex;
		align-items:flex-end;
		align-content:flex-end;
	}
	article.opts {
		width:100%;
		max-width:42.5rem;
		display:flex;
		justify-content:center;
		align-content:flex-end;
		padding-top:2.5rem;
		div.container {
			&.opt-onetime {
				@media screen and (min-width:62rem) {
					margin-left:0;
				}
			}
			&.opt-misc {
				@media screen and (min-width:62rem) {
					margin-right:0;
				}
			}
			@media screen and (max-width:61.9375rem) {
				width:99%;
			}
			@media screen and (min-width:62rem) {
				width:90%;
			}
			box-shadow: 0 0 2.5rem $graylightest;
			// border-radius: 1.875rem;
			div.opt-header {
				// border-radius:1.875rem 1.875rem 0 0;
				display:flex;
				justify-content:center;
				align-items:center;
				align-content:center;
				text-align:center;
				padding:1.25rem;
				h3 {
					margin-bottom:0;
					text-align:center;
				}
			}
			div.opt.row {
				div {
					border-color: $graylightest;
					border-style: solid;
					border-width: 0.125rem 0 0 0;
					display:flex;
					align-content:center;
					align-items:center;
					padding: 0.4375rem 0.625rem;
					p {
						margin-bottom:0;
						a {
							color: $pink !important;
						}
						@media screen and (max-width:23.375rem) {
							font-size:0.875rem;
						}
					}
				}
				div:first-of-type {
					justify-content:flex-start;
				}
				div:nth-of-type(2) {
					justify-content:flex-end;
				}
			}
			div.opt.row:last-of-type {
				div:first-of-type {
					// border-radius:0 0 0 1.875rem;
				}
				div:nth-of-type(2) {
					// border-radius:0 0 1.875rem 0;
				}
			}
			div.opt.row:hover {
				// border: 0.0625rem solid $cyanlight;
				// box-shadow: 0 0 2.5rem $cyanlighter;
				// position:absolute;
				// display:block;
				// z-index:50;
				// padding: 1.25rem 1.875rem;
				background-color: $cyanlightest;
				cursor: pointer;
			}
		}
	}
	article#opt-misc {
		@media screen and (max-width:61.9375rem) {
			margin-bottom:4.5rem;
		}
	}
	p.opt-lead.desktop {
		@media screen and (max-width:61.9375rem) {
			display:none;
		}
		@media screen and (min-width:62rem) {
			display:inline;
		}
	}
	p.opt-lead.mobile {
		@media screen and (max-width:61.9375rem) {
			display:inline;
			font-size:0.825rem;
		}
		@media screen and (min-width:62rem) {
			display:none;
		}
	}
	div#modal-overlay {
		display:none;
	}
	div#modal-overlay.enabled {
		display:flex;
		@media screen and (max-width:35.9375rem) {
			align-items:flex-start;
			overflow-y:visible;
		}
		@media screen and (min-width:36rem) {
			align-items:center;
		}
		justify-content:center;
		align-content:center;
		position:fixed;
		width:100vw;
		height:100vh;
		overflow:hidden;
		background-color:#EFEFEF77;
		top:0;
		left:0;
		z-index:2000;
		section#opt-modal {
			min-width:18.75rem;
			max-width: 40.625rem;
			@media screen and (max-width:35.9375rem) {
				width:98%;
				margin-top:0.25rem;
			}
			@media screen and (min-width:36rem) and (max-width:61.9375rem) {
				width:90%;
			}
			@media screen and (min-width:62rem) and (max-width:74.9375rem) {
				width:75%;
			}
			@media screen and (min-width:75rem) and (max-width:87.4375rem) {
				width:60%;
			}
			@media screen and (min-width:87.5rem) {
				width:50%;
			}
			min-height:15.625rem;
			background-color:$white;
			border: 0.0625rem solid $cyanlight;
			box-shadow: 0 0 3.75rem $cyanlighter;
			padding:1rem;
			div.close-btn {
				width:1.5rem;
				height:1.5rem;
				// background-color:#efefef;
				color:#777;
				display:flex;
				// font-weight:600;
				font-size:120%;
				justify-content:center;
				align-items:center;
				align-content:center;
				padding:0;
				margin: -0.5rem 0 0 -0.5rem;
				text-transform:uppercase;
			}
			div.close-btn:hover {
				cursor:pointer;
				background-color:rgba(255, 190, 227, 0.3);
				color:$pink;
			}
			div.opts {
				display:flex;
				@media screen and (max-width:35.9375rem) {
					flex-wrap:wrap;
					justify-content: center;
				}
				@media screen and (min-width:36rem) {
					justify-content: space-around;
				}
				article.opt-modal {
					background-color:#F9F9F9;
					padding:1rem 1.25rem;
					margin:1rem 1.25rem;
					// border-radius:1.875rem;
					@media screen and (min-width:36rem) {
						width:50%;
					}
					@media screen and (max-width:47.9375rem) {
						margin:0.625rem 0.625rem 1rem 0.625rem;
					}
					p.opt-sub.price-pkg {
						margin-bottom:0;
					}
				}
				article.opt-modal.single {
					@media screen and (min-width:36rem) {
						width:70%;
					}
				}
			}
			h6 {
				font-weight:600;
			}
			p.connect-cta {
				a {
					color:$pink;
				}
				a:hover {
					color:$gpink;
					text-decoration: none;
				}
				a.icon:hover {
					text-decoration: none;
				}
			}
		}
	}
	section.left-side, section.right-side, p.opt-lead {
		opacity:0;
	}
}

#connect {
	h4.social a {
		color: $pink;
		text-decoration:none;
		font-size: 2.5rem;
		padding: 0.625rem;
	}
	h4 {
		font-size: 1.25rem;
	}
	h4 a.email {
		color: $pink;
		text-decoration:none;
	}
	h4.social a:hover,
	h4 a.email:hover {
		color:$gpink;
	}
}

#why {
	p.quote {
		padding:1rem 0;
  		margin:auto;
	}
	.review-text.item {
		display:none;
	}
	.review-text.item.active {
		display:inline;
	}
	.left-arrow.carousel-control, .right-arrow.carousel-control {
		i.fa {
			font-size:2rem;
		}
		i.fa:hover {
			cursor:pointer;
		}
	}
	.mobile-review-slide-buttons {
		@media screen and (max-width:35.9375rem) {
			display:flex;
			flex-direction:rows;
			justify-content:space-around;
			.carousel-control {
				display:flex;
				align-items:center;
				align-content:center;
			}
			.left-arrow.carousel-control {
				justify-content:flex-end;
				i.fa {padding-right:1rem;}
			}
			.right-arrow.carousel-control {
				justify-content:flex-start;
				i.fa {padding-left:1rem;}
			}
		}
		@media screen and (min-width:35.94rem) {
			display:none;
		}
	}
	.desktop-review-slide-buttons {
		@media screen and (max-width:35.9375rem) {
			display:none !important;
		}
		@media screen and (min-width:35.94rem) {
			display:flex;
			justify-content:center;
			align-items:center;
			align-content:center;
		}
	}
	article.story {
		ol li {
			padding-left: 0.625rem;
		}
		h4 {
			padding-top:1.25rem;
		}
		@media screen and (max-width:35.9375rem) {
			h4, p {
				text-align:center;
			}
		}
		@media screen and (min-width:36rem) {
			section.col-12.col-sm-6.section-content:first-of-type {
				h4, p, li {
					text-align:left;
				}
			}
			section.col-12.col-sm-6.section-content:nth-of-type(2) {
				h4, p, li {
					text-align:right;
				}
			}
		}
		@media screen and (min-width:62rem) {
			section.col-12.col-sm-6.section-content:first-of-type {
				padding-right:1.5rem;
			}
			section.col-12.col-sm-6.section-content:nth-of-type(2) {
				padding-left:5.5rem;
			}
		}
	}
	article {
		a.ourwork-link:hover {
			text-decoration:none !important;
		}
		section.our-work {
			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;
			display:flex;
			justify-content: center;
			align-items:center;
			margin-top: 2rem;
			margin-bottom: 2rem;
			border: 5px solid $pink;
			height:400px;
			opacity:0;
			&.small-business {
				background-image: url("../images/milsdiner.jpg");
			}
			&.ecommerce {
				background-image: url("../images/detailedbypanem.jpg");
				margin-top:2.5rem;
			}
			&.education {
				background-image: url("../images/shewhitepapers.jpg");
				margin-top:2.5rem;
			}
			&.branding {
				background-image: url("../images/cramcryptos.jpg");
				margin-top:2.5rem;
			}
			.bg-overlay {
				width: 100%;
			    height: 100%;
			    background-repeat:no-repeat;
			    background-size: cover;
			    display:flex;
			    flex-wrap: wrap;
				justify-content: center;
				align-items:center;
				align-content:center;
				background: rgba(0 0 0 / 70%);
				color: $white;
				&:hover {
					background:rgba(235 252 255 / 94%);
					background-image: linear-gradient(to bottom right, rgba(254 255 198 / 80%), rgba(235 252 255 / 88%), rgba(235 252 255 / 94%));
					color: $black;
					cursor: pointer;
				}
				h4 {
					font-size:2rem;
					flex-basis: 100%;
				}
				p {
					text-align:center;
					padding:2rem;
					flex-basis: 100%;
					margin-bottom:0;

				}
			}
		}
		#review-container {
			@media screen and (min-width:36rem) {
				display:flex;
				flex-direction:row;
			}
		}
	}
}
#main {
	overflow: hidden !important;
	max-width:100vw;
	max-height:100vh;
	// background-image: linear-gradient(90deg, #FEFFC6CC 0%, $white 8%, $white 92%, #FEFFC6CC 100%);
}
#why, #connect {
	overflow-x: hidden !important;
	max-width:100vw;
	div.container {
		@media screen and (max-width:35.9375rem) {
			overflow-x: hidden !important;
		}
	}
	div.section-content {
	 	max-width:71.25rem;
	 	margin:auto;
	 	@media screen and (max-width:61.9375rem) {
	 		display:inline;
	 		max-width:98vw;
	 	}
	 	@media screen and (min-width:36rem) and (max-width:47.9375rem) {
	 		display:inline;
	 		max-width:33.75rem;
	 	}
	 	@media screen and (min-width:48rem) and (max-width:61.9375rem) {
	 		display:inline;
	 		max-width:45rem;
	 	}
	 	@media screen and (min-width:62rem) and (max-width:74.9375rem) {
	 		max-width:60rem;
	 	}
	}
	section.col-12.col-sm-6.section-content {
		@media screen and (max-width:61.9375rem) {
			width:100%;
			max-width:98vw;
		}
		@media screen and (min-width:62rem) and (max-width:74.9375rem) {
			padding-right:0.9375rem;
			padding-left:0.9375rem;
	 		max-width:60rem;
	 	}
		@media screen and (min-width:75rem) {
			width:50%;
			max-width:48vw;
		}
	}
	div.section-content.testimonial {
		max-width: 53rem;
		@media screen and (max-width:61.9375rem) {
	 		max-width:98vw;
	 	}
	}
}

