body {
  background-color: #FFFFFF;
  font-family: "Montserrat", "sans serif";
  overflow-x: hidden; }
  body span.hotpink {
    color: #FF0093; }
  body br.title-br {
    display: block; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      body br.title-br {
        display: none; } }
    @media screen and (min-width: 1201px) {
      body br.title-br {
        display: none; } }
  body .center {
    text-align: center; }
  body nav.navbar {
    background-color: #FBFE3B;
    color: #000000;
    height: 60px;
    padding-top: 0;
    padding-bottom: 0; }
    body nav.navbar span.navbar-toggler-icon img {
      display: none; }
      @media screen and (max-width: 991px) {
        body nav.navbar span.navbar-toggler-icon img {
          display: block; } }
    @media screen and (max-width: 991px) {
      body nav.navbar div.navbar-collapse {
        margin-top: -5px; } }
    @media screen and (max-width: 991px) {
      body nav.navbar ul.navbar-nav {
        background-color: #A8FE38;
        padding: 10px 20px; }
        body nav.navbar ul.navbar-nav li.nav-item {
          text-align: right; } }
    @media screen and (max-width: 991px) {
      body nav.navbar a.navbar-brand {
        padding-top: 0; } }
    body nav.navbar a.navbar-brand img {
      height: 60px;
      width: 60px; }
    body nav.navbar a:link, body nav.navbar a:visited {
      text-transform: uppercase;
      color: #000000 !important;
      letter-spacing: 0.1rem;
      font-weight: 600; }
    body nav.navbar a:hover {
      color: #FF0093 !important; }
    @media screen and (min-width: 992px) {
      body nav.navbar li.active {
        border-bottom: 5px solid #B006FB; }
        body nav.navbar li.active a {
          margin-bottom: -5px; } }
    body nav.navbar li.active a {
      color: #B006FB !important; }
    body nav.navbar li.active:hover a {
      color: #FF0093 !important; }
    @media screen and (min-width: 992px) {
      body nav.navbar li.nav-item {
        padding: 10px 20px; } }
    body nav.navbar li.nav-item:hover {
      cursor: pointer;
      background-color: #2FFF3755; }
      body nav.navbar li.nav-item:hover a {
        color: #FF0093 !important; }
  body section h1 {
    font-weight: 700; }
  body section h2 {
    color: #B006FB;
    letter-spacing: 0.1rem;
    font-weight: 600; }
  @media screen and (max-width: 991px) {
    body section div.pow-anim {
      display: flex;
      justify-content: center;
      align-content:center;
      align-items:center; }
      body section div.pow-anim img.pow-anim {
        margin-top: 0;
        padding-top: 0;
        max-width: 95vw;
        height: 50vh;
        width: auto; } }
  @media screen and (min-width: 992px) {
    body section div.pow-anim img.pow-anim {
      margin-top: 50px;
      padding-top: 30px;
      height: 80vh;
      width: auto; } }
  body footer {
    width: 100vw;
    margin: 0;
    background-color: #00E2FF;
    background-image: url("../images/dots.png");
    background-repeat: repeat;
    background-size: 160px;
    padding: 5px; }